body {
  background-color: #00000;
}



.col-centered {
  float: none;
  margin: 0 auto;
}

.font-bold {
  font-family:inter-bold;
  font-size: 400%;
}

.font-reg {
  font-family:inter-reg;
  font-size: 150%;
}

.font-bold-small {
  font-family:inter-bold;
  font-size: 200%;
}

.inline-p {
     display: inline;
     padding-right: 10px;

}

.font-reg-works {
  font-family:inter-reg;
  font-size: 140%;
}
.font-med{
  font-family:inter-med;
  font-size: 135%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
